<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="videoContainer" class="center" >
                    </div>
                </div>
                <h1 class="modal-title fs-5" id="titleMovie">e</h1>
                <p class="modal-title fs-5" id="overviewMovie"></p>

            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>