<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">A propos de We Movies</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2 search-movies" placeholder="Search" aria-label="Search" >
        </form>
    </div>
</nav>