includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    ignoreErrors:
        - '/Generator expects value type Symfony\\Component\\HttpKernel\\Bundle\\BundleInterface\, object given\./'
        - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array#"
        - "#Property [a-zA-Z0-9\\$\\_\\\\:\\(\\)]+ type has no value type specified in iterable type array#"
        - '#has parameter .* with no value type specified in iterable type array#'
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

    symfony:
      
        console_application_loader: build/console.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
    doctrine:
        objectManagerLoader: tests/object-manager.php
    level: 8
    excludePaths:
        - App/Infrastructure/Kernel.php
    paths:
        - src